*/config/development
*/logs/log-*.php
!*/logs/index.html
*/cache/*
!*/cache/index.html
!*/cache/.htaccess
*/config/development
*/logs/log-*.php
!*/logs/index.html
*/cache/*
!*/cache/index.html
!*/cache/.htaccess
application/libraries
application/config/databese.php
application/helpers
application/logs
application/modules/api
application/controllers/x3cams.php
node_modules
assets/widgets
assets/uploads/xml_files
assets/dist/packrat-shit
package.json
*.json
.atomignore
.htaccess
babelrc
grid-experiment.js
composer-setup.php
/application/vendor
cgi-bin
